@charset "utf-8";
/* CSS Document */
html, body {
	background-image: url("images/cosmos.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
    font-family: "Open Sans", sans-serif;
    margin: 0%;
    padding: 0%;
}

header {
    background-color: #333;
    color: white;
    text-align: left;
    padding: 1.3%;
    font-size: 24px;
}

main {
    margin: 2% auto;
    width: 80%;
    padding: 2.5%;
    box-shadow: 0 0 rgba(0, 0, 0, 0.1);
}

form {
    display: table;
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
	background:rgba(250,235,215,0.3);
	backdrop-filter: blur(20px) saturate(120%) contrast(200%);
    color: antiquewhite;
    font-style: italic;
}

label {
    display: table-cell;
    padding-right: 1.2%;
}

.checkbox-group{
    align-self: center;
}


.checkbox-group > p {
    padding:0.7%;
    text-align: center;
    font-weight: bold;
    color: cyan;
}

input, select {
    display: table-cell;
    width: 90%;
    padding: 0.4%;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 1.3%;
}

.selects{
    width: 20%;
    display: table-cell;
}

td {
	text-align: center;
    width: 25%;
    margin-right: 10%;
    margin-left: 10%;
}

button, .buttons {
    display: block;
    margin: 0 auto;
    padding: 1.2% 2.1%;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.resulting {
	display: block;
    text-align: center;
	width: 35%;
	margin-top: 5%;
    font-weight: bold;
    font-size: 18px;
    color: rgb(255,20,147,0.8);
	background: linear-gradient(140deg, #fff0f5 23%, #f0f8ff 32%,#ee82ee 50%, #87cefa 56%,#98fb98 64%, #ff69b4 79%, #fff0f5 95%, #483d8b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	backdrop-filter: blur(14px) saturate(90%) contrast(125%);
	float: right;
}

#results {
    float: left;
}

.resulting > a {
    background: linear-gradient(140deg, #4B0082 23%, #8B008B 32%,#7B68EE 50%, #00CED1 56%,#00FA9A 64%, #E6E6FA 79%, #9370DB 95%, #4B0082);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

::placeholder, select{
    color: rgb(186, 85, 211,0.83);
    font-style: italic;
}

a:hover{
    text-decoration: none;
}

#amogus, #dead {
	display: block;
	position: relative;
	left: 5%;
	height: 100%;
	margin-left: 10%;
	margin-bottom: -10%;
    padding-top: 10%;
    padding-left: 5%;
}

.aboba {
    left: 45%;
    height: 30%;
    cursor: pointer;
}

#dead{
	opacity: 0%;
}

p#time {
    border: 1px solid black;
    font-size: 25px;
}

p#time > span:hover {
    font-weight: bold;
}

form .button_input_x:hover {
    border: 2px solid #6200a9;
    color: #6200a9;
}

form .button_input_x.active {
    border: 2px dashed red;
    color: red;
}

form .button_input_x.active:hover {
    border: 2px solid #70001e;
    color: #70001e;
}